@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

/* Add this to your CSS file or style section */
/* Add this to your CSS file or style section */
.swal2-modal {
    width: 35% !important; /* Adjust the width as needed */
    height: 81% !important;
}

.swal2-icon {
    font-size: 2em !important; /* Adjust the icon size as needed */
}

.swal2-title, .swal2-html-container, .swal2-content {
    font-size: 2.4em !important; /* Adjust the font size as needed */
}

.swal2-confirm {
    font-size: 1.5em !important; /* Adjust the font size as needed */
    padding: 8px 20px !important; /* Adjust the padding as needed */
}




.pagination .page-link {
    font-size: 18px; /* Adjust the font size as needed */
    padding: 7px 13px; /* Adjust the padding as needed */
    border-radius: 5px;
    position: relative;
    left: -475px;
    color: #219150;
    background-color: #fff;
    border: 1px solid #219150;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #219150;
    border: 1px solid #219150;
}

.pagination .page-item.active .page-link {
    background-color: #219150;
    color: #fff;
    
    border: 1px solid #219150;
}

html{
    font-size: 62.5%;
    text-decoration: none;
  overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.judul{
    color: #222222;
    font-family: 'Poppins',sans-serif;
    font-size: 27px;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    left: 530px;
}
.btn-baca{
    position: relative;
    left: 533px;
    width: 155px;
    height: 40px;
    top: -17px;
    border-radius: .5rem;
    background:var(--green);
}
.baca-sekarang{
    color:#fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.author{
    color: #45474B;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    padding: 0px;
    font-weight: 500;
    position: relative;
    left: 530px;
}
#auth{
    position: relative;
    top: -3px;
}
.dilihat{
    position: relative;
    left: 534px;
    top: -15px;
    font-size: 18px;
    color: #27ae60
}
.leng{
    position: relative;
    top: -15px;
}
.sinopsis{
    position: relative;
    left: 530px;
}
#gerak{
    position: relative;
    left: 283px;
    
}
#mata{
    font-size: 20px;
    color: #27ae60;

}
.text-sino{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-align: justify;
    width: 500px;
    position: relative;
    top: -30px;
    color: #45474B;
    font-weight: 500;
}
.sinopsis{
    position: relative;
    top: 5px;
    left: 534px;
}
#hasil{
    position: relative;
    left: 250px;
}
.hashpagi{
    background-color: #f4f5f8;
    width: 450px;
    position: relative;
    left: 533px;
    border: 2px solid #219150;
    border-radius: 6px;
    top :15px;
    height: 210px;
}
 

.atas{
    position: relative;
    top: -430px;
    left: -110px;
}
.vol{
    color: #222222;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    left: 530px;
    top: -10px;
}

.buku{
    width: 260px;
    position: relative;
    left: 65px;
    border-radius: 6px;
    box-shadow:
  0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
  0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
  -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
  5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
    top :18px;
}
#gen{
    position: relative;
    top: -8px;
}
#ril{
    position: relative;
    top: -12px;
}

.box1{
    width: 380px;
    background-color: #fff;
    border: 2px solid #219150;
    position: relative;
    left: 120px;
    height: 435px;
    top: 60px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.daftar-vol{
    color: #222222;
    font-family: 'Poppins',sans-serif;
    font-size: 27px;
    letter-spacing: 0.8px;
    font-weight: 600;
    position: relative;
}
.desk-vol{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #45474B;
    position: relative;
    top: -5px;
    font-weight: 500;
}
.detail{
    width: 100%;
    height: 88vh;
    background-color: #fff;
}
.td-special {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-bacakomik,
.btn-bacananti {
    margin-right: 10px; /* Adjust the value as needed */
}

.hal1{
    position: relative;
    left: 20px;
}
.bagian{
    position: relative;
    top: -40px;
    left: -120px;
}
 table {
        width: 85%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 16px;
        top: 10px;
        position: relative;
    }
.pagane{
    position: relative;
    top: 15px;
   
}
.under a{
    color: #27ae60;
    font-weight: 500;
    text-decoration: underline;
}

    th, td {
        border: 1px solid #ddd;
        padding: 4px;
        text-align: center;
        letter-spacing: 1px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .btn-bacakomik {
        display: inline-block;
       width: 170px;
       height: 40px;
        border: 1px solid #27ae60;
        color: #4caf50;
        font-weight: 550;
        background-color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }
    .abaca{
        color:#27ae60;
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }
    .btn-bacananti{
        display: inline-block;
       width: 50px;
       height: 35px;
        border: 1px solid #27ae60;
        color: #4caf50;
        font-weight: 550;
        background-color: #27ae60;
        text-decoration: none;
        border-radius: 4px;
    }
    .ri-bookmark-fill{
        color: #fff;
    }

   

html::-webkit-scrollbar{
width:0.6rem;
}
html::-webkit-scrollbar-track{
background:#A1A9AF;
}

html::-webkit-scrollbar-thumb{
background:#808B93;
border-radius: 50px;
}


section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar-cos{
    text-align: center;
}

.header .header-2 .navbar-cos a{
    color:#fff;
    display: inline-block;
    padding:1.3rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar-cos a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    color:var(--black);
    position: relative;
    left: -60px;
    letter-spacing: 0.7px;
}
.sb{
    background-color: transparent;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.newsletter{
    background:url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:#FFC436;
}

.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:#FFC436;
}

.blogs .blogs-slider .box{
    margin:2rem 0;
    border:var(--border);
}

.blogs .blogs-slider .box:hover{
    border:var(--border-hover);
}

.blogs .blogs-slider .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
    padding:1.5rem;
}

.blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}
.sec-tab{
    width: 100%;
    background-color: #fff;
    height: 75vh;
}

.blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 2;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}

@media only screen and (max-width: 1281px) {
    .text-sino{
        width: 700px;
       }
       table{
        position: relative;
        top :50px;
        width: 100%;
    }
    
}

@media only screen and (min-height: 768px) and (min-width: 1281px){
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 50vh;
        position: relative;
        top: -130px;
    }
    .swal2-modal {
        width: 35% !important; /* Adjust the width as needed */
        height: 72% !important;
    }
       table{
        position: relative;
        top :-3px;
        width: 90%;
    }
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }
   

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
@media only screen and (max-width: 800px) {
    .hal1{
        position: relative;
        left: -310px;
        top: 500px;
    }
    .detail{
        height: 150vh;
    }
    table{
        position: relative;
        top :200px;
        width: 100%;
    }
   .box1{
    width: 325px;
   }
   .buku{
    position: relative;
    left: 30px;
   }
   .text-sino{
    width: 310px;
    
   }

   .pagination{
    position: relative;
    left:395px;
   }
   .swal2-modal {
    width: 80% !important; /* Adjust the width as needed */
    height: 65% !important;
}

}

@media only screen and (max-width: 1280px) {
    table{
        position: relative;
        top: 10px;
    }
}
@media only screen and (max-width: 835px) {
    .hal1{
        position: relative;
        left: -310px;
        top: 500px;
    }
    .swal2-modal {
        width: 80% !important; /* Adjust the width as needed */
        height: 65% !important;
    }
    .detail{
        height: 150vh;
    }
    table{
        position: relative;
        top :0px;
        width: 100%;
    }
   .box1{
    width: 325px;
   }
   .buku{
    position: relative;
    left: 30px;
   }
   .text-sino{
    width: 310px;
    position: relative;
   }
    .buku{
        width: 260px;
        position: relative;
        left: 60px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 380px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 316px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 50vh;
        position: relative;
        top: -420px;
    }
    .text-sino{
        width: 710px;
       }
       .footer{
        margin-top: -450px;
       }
}
@media only screen and (max-width: 769px) {
    .buku{
        width: 260px;
        position: relative;
        left: 60px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }

    .box1{
        width: 380px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 316px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 50vh;
        position: relative;
        top: -320px;
    }
    .text-sino{
        width: 710px;
       }
       .footer{
        margin-top: -300px;
       }
}
@media only screen and (max-width: 428px) {
    .buku{
        width: 260px;
        position: relative;
        left: 60px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 380px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 129px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 50vh;
        position: relative;
        top: -130px;
    }
    .text-sino{
        width: 350px;
       }
       .footer{
        margin-top: -20px;
       }
}
@media only screen and (max-width: 391px) {
    .buku{
        width: 260px;
        position: relative;
        left: 47px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 360px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 120px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 50vh;
        position: relative;
        top: -100px;
    }
    .text-sino{
        width: 340px;
       }
       .footer{
        margin-top: -20px;
       }
}

@media only screen and (max-width: 376px) {
    .buku{
        width: 240px;
        position: relative;
        left: 48px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 343px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 120px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 60vh;
        position: relative;
        top: 80px;
    }
    .text-sino{
        width: 320px;
       }
       .footer{
        margin-top: 100px;
       }
}

@media only screen and (max-width: 361px) {
    .buku{
        width: 260px;
        position: relative;
        left: 35px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 330px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 120px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 60vh;
        position: relative;
        top: 80px;
    }
    .text-sino{
        width: 300px;
       }
       .footer{
        margin-top: 80px;
       }
}

@media only screen and (max-width: 321px) {
    .buku{
        width: 240px;
        position: relative;
        left: 23px;
        border-radius: 6px;
        box-shadow:
      0 -5px 5px rgba(0, 0, 0, 0.1), /* atas */
      0 5px 5px rgba(0, 0, 0, 0.1),  /* bawah */
      -5px 0 5px rgba(0, 0, 0, 0.1), /* kiri */
      5px 0 5px rgba(0, 0, 0, 0.1);  /* kanan */
        top :18px;
    }
    .box1{
        width: 290px;
        background-color: #fff;
        border: 2px solid #219150;
        position: relative;
        left: 120px;
        height: 435px;
        top: 60px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    .sec-tab{
        width: 100%;
        background-color: #fff;
        height: 60vh;
        position: relative;
        top: 470px;
    }
    .text-sino{
        width: 270px;
       }
       .footer{
        margin-top: 630px;
       }

       
}